body {
    width: 960px;
    margin: 0 auto;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Segoe UI", Arial;
}

input[type=file] {
    border: 1px solid #eeeeee;
    background-color: #eeeeee;
    border-radius: 10px;
    width: 100%;
    vertical-align: middle;
    padding: 25px;
    color: #000000;
}

hr{
    color: #FFFFFF;
}
